.App {
  text-align: center;
}

.image-card{
  height:390px;
  background-color:#FFFFFF;
  margin-top:10px;
  overflow: hidden;
}

.size-card{
  height: 70vh;
}

.tbl-space{
  display: flex;
  justify-content: space-between;
  width: 120vh;
}
